* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #e5e5e5;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    padding: 15px;
    z-index: 999;
    background-color: #e5e5e5;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}

header .logo img {
    width: 65%;
}

header nav {
    display: none;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

main .content {
    scroll-margin-top: 90px;
}

main .content .content-top {
    display: block;
    margin: auto;
}

main .foto {
    margin-top: 20px;
}

main .foto img {
    display: block;
    margin: 20px auto;
    filter:brightness(60%);
    border-radius: 10%;
    box-shadow: 0px 5px 9px grey;
    object-fit: scale-down;
    width: 250px;
}

main .text h1, h2 {
    text-align: center;
    font-weight: 400;
}

main h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 28px;
}

main h2 {
    margin-top: 5px;
    margin-bottom: 30px;
}

main h2 .green {
    color: #72B01D
}

.text .present {
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
}

main .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

main .buttons .portfolio-button {
    display: flex;
    margin: auto;
    margin-top: 30px;
}

main .buttons .about-me-button {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about-me-button a {
    display: inline-block;
    color: black;
    font-size: 18px;
    background-color: transparent;

    border-radius: 50px;
    padding: 10px 40px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 9px grey;
    text-decoration: none;

}

.portfolio-button a {
    display: inline-block;
    color: black;
    font-size: 20px;
    background-color: #72B01D;

    border-radius: 50px;
    padding: 10px 40px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 9px grey;
    text-decoration: none;
}

main .titulo {
    font-weight: 700;
    font-size: 32px;
    margin: 35px 0px 30px;
}

main .projects {
    scroll-margin-top: 90px;
}

main .articles {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
}

main .article {
    margin: 10px;
    background-color: #72B01D;
    border-radius: 15px;
    box-shadow: 0px 5px 9px grey;
}

main .in-process {
    margin: 10px;
    background-color: transparent;
    border-radius: 15px;
}

main .article a {
    display: inline-block;
    margin: 70px 20px 10px;
    background-color: transparent;
}

main .article p {
    background-color: transparent;
    margin: 2px;
}

.article .titulo {
    font-weight: 700;
    font-size: 24px;
}

.ReactModal__Overlay {
    background-color: rgba(0,0,0, 0.5) !important;
}

.ReactModal__Content {
    display: flex;
    flex-direction: column;
    border-radius: 20px !important;
    margin: 100px 20px;
    padding: 20px;
}

.ReactModal__Content .superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ReactModal__Content .titulo {
    font-weight: 700;
    font-size: 24px;
    margin: 5px;
}

.ReactModal__Content .descripcion {
    width: 75%;
    font-size: 18px;
    margin: 20px;
}

.ReactModal__Content .botones {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.ReactModal__Content .botones a {
    display: block;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 10px;
}

.article .descripcion {
    font-weight: 300;
    font-size: 18px;
}

main .about-me {
    scroll-margin-top: 90px;
}

main .about-me .parrafos {
    margin: 50px 0px;
}

.about-me p {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.about-me a {
    text-decoration: underline;
    color: black;
}

main .contact {
    margin-top: 30px;
    scroll-margin-top: 90px;
}

main .contact .sub-contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 50px 0px 70px;
}

main .contact h2{
    margin-bottom: 30px;
}

main .contact p {
    font-size: 32px;
    margin-left: 30px;
    margin-bottom: 2px;
    margin-top: 2px;
}

main .contact p span {
    font-weight: 700;
    color:#72B01D
}

main .contact .rectangulos {
    display: flex;
    flex-direction: column;
    margin: 30px 15px 30px ;
}

.rectangulos .rectangulo {
    border: 1px solid black;
    margin: 10px 15px;
    border-radius: 15px;
    background-color: transparent;
}

main .contact .sub-contact .rectangulos .rectangulo a {
    display: block;
    text-align: center;
    padding: 50px;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.rectangulo a i {
    margin-right: 10px;
}

main footer {
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
}

footer .texto, .botones {
    display: flex;
    margin: 20px 0px;
    font-size: 18px;
}

footer .texto p {
    display: flex;
    margin: auto;
    font-size: 16px;
}

footer .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

footer .botones a {
    display: block;
    color: black;
    text-decoration: none;
}

.botones i {
    margin-right: 10px;
}

@media (min-width: 1280px) {

    html {
        width: 75%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    main {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }

    header {
        position: fixed;
        top:0;
        left:0;
        padding: 10px;
    }

    header .sub-header {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    header .logo {
        width: 25%;
    }

    header .logo img {
        width: 100%;
        display: inline-block;
        margin: 10px;
    }

    header .sub-header nav a {
        font-size: 20px;
    }

    header button {
        display: none;
    }

    main .content .content-top {
        margin: 75px;
    }

    main .buttons {
        flex-direction: row;
        width: 50%;
        margin: auto;
    }

    
    main .article a {
        margin: 50px 20px 10px;
    }
    
    main .about-me {
        margin: 90px 90px;
    }

    .rectangulos .rectangulo {
        padding: 5px;
    }

    main .contact .sub-contact {
        margin: 0px;
    }

    main footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .botones a {
        margin: 0px 30px
    }

}